{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h3>Добавить ответы к вопросу:</h3>
    <p>{{ question.text }}</p>
    {% if question.image %}
        <img src="{{ question.image.url }}" >
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="add_more" class="btn btn-info">Добавить ещё ответ</button>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
</div>
{% endblock %}